<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app">
    <application
        android:debuggable="false">
        <activity
            android:name=".MainActivity">
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>
