<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:debuggable="true">
        <activity>
            <intent-filter android:exported="true">
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>
